*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    width: 100%;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
 background: linear-gradient(white, #D3D8E8);
    background: red;
}
.parte_arriba{
    width:100%;
    min-width:980px;
    background-color:#4c66a4;
   }
.cuerpo{
        width:980px;
        margin:0px auto;
        padding:0px;
        height:85px;
}
.cuerpo li{
    list-style-type:none;
    float:left;
    text-align:left;
    background-color:white;
   }